@model dynamic

@{
    ViewBag.Title = "Поиск тем";
}

<h2>@ViewBag.Title</h2>
<form action="@Url.Action("Search")">
    <input type="text" name="text" size="25"/>
    <input type="submit" value="Поиск…"/>
</form>