@model LoginModel

@{
    ViewBag.Title = "Вход";
}

<h2>@ViewBag.Title</h2>
@Html.ValidationSummary()


<form action="@Url.Action("Login")">
    Логин: <input type="text" name="User"/>
    Пароль: <input type="password" name="Password"/>
    <input type="submit" value="Вход"/>
</form>