@model dynamic

@{
	ViewBag.Title = "Успешная регистрация";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

Поздравляем, вы успешно зарегистрировались.
@Html.ActionLink("Вернуться на главную страницу", "Index", "Themes")
