@using Ktoto.Neprav.Utils
@model Author

@{
    ViewBag.Title = string.Format("Страница пользователя '{0}'", Model.Name);
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td>Звать:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Пол:</td>
        <td>@(Model.Sex.EnumToString())</td>
    </tr>
</table>
